@model MvcTicariOtomasyon.Models.Siniflar.Guzergah
@{
    ViewBag.Title = "Kasagetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Guzergah</a></li>
                        <li class="breadcrumb-item active">Düzenle</li>
                    </ol>
                </div>
                <h4 class="page-title">Guzergah Düzenle</h4>
            </div>
        </div>
    </div>

    <div class="row">


        <div class="col-12">
            <div class="card-box">
                <a href="/Kasa" class="text-white btn btn-primary float-right">Geri Dön</a>
                <h4 class="header-title mb-4">Guzergah Düzenleme</h4>
                @using (Html.BeginForm("Guzergahguncelle", "Guzergah", FormMethod.Post))
                {
                    <form class="form-group" method="post">
                        @Html.Label("Guzergah Adı")
                        @Html.TextBoxFor(x => x.Guzergahadı, new { @class = "form-control" })
                        @Html.HiddenFor(x => x.Guzergahid)
                        <button class="btn btn-info mt-2">Güzergah Adı Güncelle</button>
                    </form>
                }
            </div>
        </div>
    </div>


    <script>
    $(document).ready(function () {
        $("form").submit(function (event) {
            // Formun submit işlemini engellemek için
            event.preventDefault();

            // Zorunlu alanların değerlerini kontrol etme
            var Guzergahadı = $("#Guzergahadı").val();


            if (Guzergahadı === "") {
                // Zorunlu alanların boş olduğu durumda SweetAlert ile uyarı gösterme
                Swal.fire({
                    title: 'Hata!',
                    text: 'Tüm Alanları Doldurmanız gerekiyor',
                    icon: 'error',
                    confirmButtonText: 'Tamam'
                });
            } else {
                // Formu gönderme
                $("form").unbind("submit").submit();
            }
        });
    });
    </script>
