@using MvcTicariOtomasyon.Models.Siniflar;
@model List<CariGrup>
@{
    Layout = null;
}


<html>
<head>
    <title>ClebWeb Ticari Otomasyon</title>
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Table datatable css -->
    <link href="~/web/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/web/assets/libs/datatables/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom box css -->
    <link href="~/web/assets/libs/custombox/custombox.min.css" rel="stylesheet">
    <!-- App css -->
    <link href="~/web/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
    <link href="~/web/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/web/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />
</head>
<body>

    <div class="row">



        <div class="col-12">
            <div class="card-box">
                <a href="/CariGrup" class="btn btn-primary float-right text-white">Geri Dön</a>
                <h4 class="header-title">Cari Grup Tablosu</h4>
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Cari Grup Adı</th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var k in Model)
                        {
                            <tr>
                                <td>
                                    <a href="#custom-modal-@k.CariGrupid" class="text-dark" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a" id="#"> @k.CariGrupName </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="~/web/assets/js/vendor.min.js"></script>

    <!-- Modal-Effect -->
    <script src="~/web/assets/libs/custombox/custombox.min.js"></script>

    <!-- App js -->
    <script src="~/web/assets/js/app.min.js"></script>
    <script src="~/web/assets/libs/pdfmake/pdfmake.min.js"></script>
    <script src="~/web/assets/libs/pdfmake/vfs_fonts.js"></script>
    <script src="~/web/assets/libs/jszip/jszip.min.js"></script>
    <!-- Datatable plugin js -->
    <script src="~/web/assets/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="~/web/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/web/assets/libs/datatables/dataTables.responsive.min.js"></script>
    <script src="~/web/assets/libs/datatables/responsive.bootstrap4.min.js"></script>

    <script src="~/web/assets/libs/datatables/dataTables.buttons.min.js"></script>
    <script src="~/web/assets/libs/datatables/buttons.bootstrap4.min.js"></script>

    <script src="~/web/assets/libs/datatables/buttons.html5.min.js"></script>
    <script src="~/web/assets/libs/datatables/buttons.print.min.js"></script>

    <!-- Datatables init -->
    <script src="~/web/assets/js/pages/datatables.init.js"></script>
</body>
</html>
